<%
@features = @site.features.visibles
%>
<% if @features.any? %>
<div class="row features">
  <div class="twelve columns">
    <%= render 'shared/features', :features => @features %>
  </div>
</div>
<% end %> 
<div class="row">
  <% if resource.body.present? %>
    <div class="page_content">
      <%= resource_body_tag do %>
        <%= render_html_text(resource.body) %>
      <% end %> 
    </div> 
  <% end %>
</div> 