<div class="alert alert-info alert-dismissible alert-donate" role="alert">
  <h4>Nous avons besoin de vous! Faites un don!</h4>
  Cela fait maintenant 10 ans que ce festival de musique carribéenne vit à Saint-Barthélémy grâce à une poignée de bénévoles. Pour son anniversaire, nous avons une programmation exceptionnelle, 10 concerts gratuits sur 5 soirs avec des groupes comme STEEL PULSE, SOFT, CARIMI, KALI, EXILE ONE, ADMIRAL T, K.RAVAN, SAN JUAN HAVANA, CLAUDIO PHILIP, MR RUFFY, et pleins d'invités!<br/>
    <strong>Mais bien evidemment une telle programmation demande beaucoup d'argent.</strong>
    Merci de nous aider en faisant un don à cette adresse <a href="https://www.leetchi.com/c/association-de-sb-jam" class="alert-link" target="_blank">https://www.leetchi.com/c/association-de-sb-jam</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
