<% cache([site, I18n.locale, 'footer']) do %>
<!-- Footer
================================================== -->

<%
if @partner_section = site.partner_lists.published.first
  @partners = @partner_section.partners.order(:position).limit(site.preferred_partners_in_home)
end
%>

<% if @partners.try(:any?) %>
<div id='partners-container' class='container-fluid'>
  <div id='partners' class='row-fluid'>
    <div class="span12">
      <ul class="unstyled">
        <% @partners.each do |p| %>
        <li><%= image_tag(p.thumbnail.url) if p.image.present? %></li>
        <% end %>
      </ul>
    </div>
  </div> 
</div> 
<% end %> 
<% if @pipe_menu %>
<div id='footer-container' class='container-fluid'>
  <div id='footer' class='row-fluid'>
    <div class="span12">
      <div class="footer-row-inner">
        <%= render '/shared/menu', :sections => @pipe_menu, :menu_name => "pipe" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>