<%# cache([site, I18n.locale, 'footerv3']) do %>
<!-- Footer
================================================== -->

<%
if @partner_section = site.partner_lists.published.first
  @partners = @partner_section.partners.order(:position).limit(site.preferred_partners_in_home)
end
%>

<% if @partners.try(:any?) %>
<section id='partners'>
  <div class="container">
    <div class='row'>
      <% @partners.each do |p| %>
         <div class="col-xs-4 col-sm-2 col-md-1">
           <div class="thumbnail">
            <%= image_tag(p.thumbnail.url) if p.image.present? %>
           </div>
          </div>
        <% end %>
    </div>
  </div> 
</section> 
<% end %> 
<section id="copyright">
  <div class="container">
    
    <div class="row">
      <div class="col-xs-6 text-left">
        <%= render_menu('pipe') %>
      </div>
      <div class="col-xs-6 text-right">
        <p>@ Copyright. All Rights Reserved. Created by <a href="http://www.joufdesign.com">Jouf Design.</a></p>
      </div>
    </div>
  </div>
</section>
<%# end %>